.referral-dynamic-main {
    padding: 2rem;
    display: flex;
    max-width: 100%;
}

.referral-dynamic-title {
    margin-bottom: 2rem;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 3.5rem;
}

.referral-box-1 {
    max-width: 60%;
}

.referral-box-2 {
    width: 30%;
    margin-left: 3rem;
}

.referral-candidate-img {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.referral-candidate-metadata {
    color: #6d6969;
    font-weight: 400;
}